#root {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  background-color: #302c2c;
  color: #fff;
}

.footer .inner {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.link {
  width: 100px;
  height: 20px;
  margin: 10px 5px;
}

.link a {
  text-decoration: none;
  color: white;
}

.movie-display-card {
  position: relative;
  height: auto;
  /* min-height: 100% !important; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #686868;
  width: fit-content;
  padding: 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px 15px;
}

.movie-display-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.movie-display-card .poster {
  height: 240px;
  width: 180px;
  margin-top: 15px;
  margin-left: 7px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
}

.movie-display-card .poster img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.movie-display-card a {
  text-decoration: none;
}

.movie-display-card .title p {
  font-size: larger;
  margin: auto;
  margin-top: 7px;
  width: 160px;
  word-wrap: break-word;
  color: white;
  text-decoration: none;
}

.category {
  margin-top: 15px;
  text-align: center;
}

.category .title h2 {
  margin: auto;
  margin: 0;
  text-align: center;
}

.category .card-container {
  display: flex;
  justify-content: center;
}

.movie-display-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #302c2c;
  color: #fff;
}

header .left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 3;
}

header .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 9;
}

header .right .holder {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

header .left h2 {
  margin: 10px 15px;
}

header .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
}

header .item a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

header .item button {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .category .movie-display-cards {
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .left {
    display: flex;
    align-items: center;
  }

  header .left h2 {
    margin: auto;
  }

  header .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 9;
  }

  header .right .holder {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  .footer .inner {
    width: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
