body {
  margin: 0;
  padding: 0;
}

.footer {
  width: 100%;
  min-height: 80px;
  overflow: hidden;
  background-color: #302c2c;
  color: #fff;
}

.footer .inner {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.link {
  width: 100px;
  height: 20px;
  margin: 10px 5px;
}

.link a {
  text-decoration: none;
  color: white;
}

.button {
  background-color: rgb(73, 219, 73);
  border-radius: 5px;
  padding: 5px;
}

.button:hover {
  transform: scale(1.3);
  background-color: green;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  width: 70%;
  background-color: burlywood;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal .inner {
  width: 100%;
  background-color: rgb(223, 228, 236);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.modal form input {
  width: 400px;
  height: 35px;
  margin: 10px 5px;
  padding: 5px 3px;
  letter-spacing: 1.2px;
}

.modal form textarea {
  width: 400px;
  height: 55px;
  margin: 8px 5px;
}

.modal form #error {
  width: 400px;
  height: 35px;
  margin: 8px 5px;
  background-color: crimson;
}

.modal form #info {
  width: 400px;
  height: 35px;
  margin: 8px 5px;
  background-color: yellowgreen;
}

.card {
  position: relative;
  height: auto;
  /* min-height: 100% !important; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: fit-content;
  padding: 10px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 40px 10px;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.card .poster {
  height: 240px;
  width: 180px;
  margin-top: 15px;
  margin-left: 7px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
}

.card .poster img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.card a {
  text-decoration: none;
}

.card .title p {
  font-size: larger;
  margin: auto;
  margin-top: 7px;
  width: 160px;
  word-wrap: break-word;
  color: #000;
  text-decoration: none;
}

.category {
  margin-top: 0px;
  text-align: center;
}

.category .title h2 {
  margin: auto;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #302c2c;
  color: #fff;
}

header .left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex: 3;
  color: #fff;
  margin-right: 50px;
}

header .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  flex: 9;
}

header .right .holder {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-right: 50px;
}

header .left h2 {
  margin: 10px 15px;
}

header .item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
}

header .item a {
  text-decoration: none;
  font-size: 15px;
  color: #fff;
}

header .item button {
  font-size: 17px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
  padding: 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.item {
  margin-right: 40px;
}

.navbar-brand {
  color: white;
}

/* .body-container {
  background-color: #421d32;
  color: white;
} */
@media screen and (max-width: 500px) {
  .category .cards {
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  header .left {
    display: flex;
    align-items: center;
    color: white;
  }

  header .left h2 {
    margin: auto;
  }

  header .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 9;
    margin-right: 50px;
  }

  header .right .holder {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-right: 50px;
  }

  .footer .inner {
    width: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}
